html {
  background: url(/images/1217.jpg) ;
  background-size: cover;
}

body {
  color: #666;
  font-family: "Source Sans Pro", "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
}

a {
  text-decoration: none; 
}

div, h2, p, figure	 {
  margin: 0;
  padding: 0;
}


.main {
  margin: 0 auto;
  max-width: 1040px;
  padding: 10px;
}

.column {
  flex: 1;
  flex-direction: column;
}

.box {
  
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-basis: auto;
  margin: 10px;
  
}

.box:hover
 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  color: #444;
}


.image img {
  display: block;
  width: 100%;

}

.box-body {
  display: flex;
  flex: 1;
  flex-basis: auto;
  flex-direction: column;
  padding: 20px;
  background: #679bef;
}

.title {
  color: #b142ed;
  flex-shrink: 0;
  font-size: 1.4em;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
}

.content {
	
  flex: 1;
  flex-basis: auto;
  margin-top: 5px;
  color: black;
  text-align: center;
  font-weight: bold;
  
}


 .column {
    display: flex;
 }
 
input {
  margin-right: 10px;
}

input:invalid + label:after {
  font-size: 12px;
  content: '\274E';
  color: red;
}

input:valid + label:after {
  font-size: 12px;
  content: '\2714';
  color: green;
}
input:focus {
background: #eaeaea;
}

label {
	color:#b142ed;
	font-weight: bold;
	margin-right: 15px;
}
